body{
    background-color: #414141;
    overflow-x: hidden;
}
.hero-image {
    background-image: url("hero-bg.jpg");
    height: 410px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover; 
}
.text{
    font-family: 'Raleway';
}
@font-face{
    font-family: 'Raleway';
    src:url('raleway/Raleway-ExtraLight.ttf')
}  
@font-face{
    font-family: 'Raleway2';
    src:url('raleway/Raleway-Regular.ttf')
} 
@font-face{
    font-family: 'Raleway3';
    src:url('raleway/Raleway-Bold.ttf')
}    
h2{
    font-weight: 600;
    font-size: 36px;
}   
#myBlock{
    height: 400px;
    width: 100%;
    align-self:center;
    position: relative;
}
  
.vertical-center {
    margin: auto;
    padding: 5px;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
p{
    font-weight: bold;
    font-size: 22px;
}
#name {
    border-radius: 15px;
    border: thin;
    height: 29px;
    font-size: 10px;
    font-weight: bold;
    padding-left: 14px;
    padding-right: 14px;
    width: 152px;
    margin: 5px;
}
#email {
    border-radius: 15px;
    border: thin;
    height: 29px;
    font-size: 10px;
    font-weight: bold;
    padding-left: 14px;
    padding-right: 14px;
    width: 152px;
    margin: 5px;
}
#input1 {
    border-radius: 2px;
    border-width: 1px;
    border-color: #5353532f;
    height: 26px;
    font-size: 10.5px;
    font-weight: bold;
    padding-left: 10px;
    width: 100%;
    margin-bottom: 12px;
}
#input2 {
    border-radius: 2px;
    border-width: 1px;
    border-color: #5353532f;
    height: 26px;
    font-size: 10.5px;
    font-weight: bold;
    padding-left: 10px;
    width: 100%;
    margin-bottom: 12px;
}
#input4 {
    border-radius: 2px;
    border-width: 1px;
    border-color: #5353532f;
    height: 26px;
    font-size: 10.5px;
    font-weight: bold;
    padding-left: 10px;
    width: 100%;
    margin-bottom: 12px;
}
#input3 {
    border-radius: 2px;
    border-width: 1px;
    border-color: #5353532f;
    font-size: 11px;
    font-weight: bold;
    width: 100%;
    padding-left: 10.5px;
    color: rgb(126, 126, 126);
}
#p2{
    font-size: 20px;
    font-family: 'Raleway2';
    font-weight: 400;
    color: #5f5e5e;
}
#p3{
    font-size: 12.9px;
    font-family: 'Raleway';
    font-weight:600;
}
#p4{
    margin-bottom: 7px;
    font-size: 12px;
    font-family: 'Raleway';
    font-weight: bolder;
}
#p5{
    font-size: 12px;
    font-family: 'Calibri';
    color: #1a180ae0;
    font-weight: 500;
    text-align: start;
    padding-left: 14px;
}
#p6{
    color: white;
    font-size: 10.4px;
    font-family: "Raleway";
    font-weight: 400;
    margin-bottom: 0.6%;
}
#img{
    padding-right: 7px;
    padding-bottom: 5.5px;
}
#block2{
    margin-left: 10.7%;
    width: 79.1%;
}
.card{
    border: none;
    height: 380px;
}
h5{
    text-align: center;
    font-family: "Raleway3";
    font-weight: bolder;
    font-size: 15.5px;
    color: #7e4019;
}
.card-text{
    margin-top: -10%;
}
#card{
    height: 162px;
    padding-left: 6%;
    padding-right: 5%;
}
a:hover{
    text-decoration: none;
    color: #924c21;
}
a{
    color: #525050;
}
h4{
    font-family: "Raleway2";
    color: rgb(117, 116, 116);
    text-align: center;
    margin-top: -10px;
}
hr{
    width: 7.5%;
    background: rgb(250, 110, 45);
    margin-top: 10px;
}
tr{
    border-bottom:solid 1px rgba(226, 222, 214, 0.637);
}
#tr{
    border-bottom:solid 0px;
}
#block3{
    width: 66.5%;
    margin-bottom: -1.4%;
}
#td1{
    padding-left: 2px;
    font-weight: 900;
    font-size: 14px;
    color: rgb(7, 7, 7);
}
#td2{
    text-align: end;
}
.fa-arrow-down{
    color: rgb(77, 77, 77);
}
#round{
    border-radius: 90%;
    background: rgb(11, 77, 107);
    margin: 1px;
    width: 29px;
    height: 29px;
    transform: scale(0.92)
}
.fab{
    color: white;
}
#b2{
    margin-top: 6px; 
    height: 34px; 
    width: 38%;
    padding-top: 5px;
    font-size: 11.6px;
    font-family: "Raleway2";
    background-color: rgb(247, 99, 0); 
    color: rgb(248, 238, 238); 
    border-radius: 1px;
}
#b{
    font-family: "Raleway3";
    color: rgb(241, 241, 241);
}
#b3{
    font-family: "Raleway2";
    color: rgb(197, 109, 9);
}

.navbar{
    height: 50px;
}
@media (max-width: 767px) {
    .navbar-collapse
    {
        text-align: left;
        padding-left: 20px;
        padding-top: 6px;
        color: rgb(197, 109, 9);
        background-color:rgba(255, 255, 255, 0.904);
        margin-left: -16px;
        margin-right: -16px;
        font-weight: bolder;
    }
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }
 #shade{
    text-shadow:0 0 7px rgb(0, 0, 0);
    background-color: rgba(45, 48, 45, 0.575);
 }

 .fa{
    color: rgba(63, 61, 58, 0.795);
 }
